body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

home-component{
  height: 100%;
}

tutorial-page-component{
  height: 100%;
}


md-sidenav{
  height: 100%;
  width: 16em;
}

.home-card{
  margin-left: 0;
  margin-right: 0;
}

md-content{
  background-color: #FCFCFC;
}

nav{
  background-color: #80CBC4;
}

._md-nav-button-text{
  color: #E6E8F5;
}
