body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

home-component{
  height: 100%;
}

tutorial-page-component{
  height: 100%;
}


md-sidenav{
  height: 100%;
  width: 16em;
}

.home-card{
  margin: 0 2em 0 2em;
}

md-content{
  background-color: #FCFCFC;
}

nav-component{
  background-color: #80CBC4;
}

._md-nav-button-text{
  color: #E6E8F5;
}

.nav-text-padding{
  padding-left: 4%;
  color: #FAFAFA;
}

.nav-title{
  color: #FFFFFF;
  font-weight: 500;
}

.nav-summary{
  color: #E0F2F1;
  font-weight: 300;
}

ui-view{
  font-family: 'Roboto', sans-serif;
}

.tut-summary-card{
  margin: .5em 1em .5em 1em;
}

.tut-summary-img{
  /*width: 25%;*/
  height: 6em;
}
